// * Variables for adaptive

// $laptop: 90.06125em; // 1440.98px
$tablet: 61.99875em; // 991.98px
$mobile: 47.99875em; // 767.98px
$mobileSmall: 29.99875em; // 479.98px

// =======================================================================================================
// * Variables for colors

$mainColor: #0E0E0E;
$colorHoverButton: #2b2a2a;
$colorGrey: #969696;
$colorMainCircle: #202020;
$colorAccentCircle: #F5F5F5;
$mainWhiteColor: #ffffff;
$colorBorder: #202020;
$coloHoverButtonWhite: #d6d6d6;
$colorButtonsTab: #6F6F6F;

// =======================================================================================================
// * Variables for font

$mainFont: Inter;